body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #b6eeeb;
}

header,
main,
footer {
  margin: 5px;
  min-height: 10px;
  border: 1px solid #000;
}

.container-menu {
  margin: 5px;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #000;
  background: #edcae5;
}

.main-menu li {
  display: inline-block;
  margin-right: -5px;
  width: 33%;
  text-align: center;
}

.main-menu li:not(:first-child) {
  border-left: 1px solid #000;
}

.main-menu li:hover {
  background: #b7f1c3;
}

.main-menu a {
  display: block;
  padding: 8px 10px;
  color: #414044;
  text-decoration: none;
}

.sub-menu {
  display: none;
}
